<div class="img_mark">
    <img src="../../assets/redragon.jpg" alt="imagen de marca del producto">
</div>

<h2>Teclado Gamers Redragon -  Argentina</h2>

<section class="text-description">

    <p class="text">¡Sumérgete en la acción con nuestra colección de teclados gamers! Diseñados para ofrecerte la máxima precisión 
        y rendimiento, nuestros teclados están listos para llevar tus habilidades al siguiente nivel. Desde juegos de 
        ritmo acelerado hasta batallas épicas, estos teclados están diseñados para soportar cualquier desafío que enfrentes en el mundo digital.</p>
    <p class="text">Cada teclado está equipado con características avanzadas que te brindarán una ventaja competitiva en cada partida. 
        Con teclas mecánicas de respuesta rápida, retroiluminación RGB personalizable y una construcción duradera, nuestros 
        teclados están diseñados para destacar en cualquier situación de juego.</p>
    <p class="text">Descubre nuestra selección y elige el teclado que se adapte perfectamente a tu estilo de juego y personalidad.
         ¡Prepárate para dominar el campo de batalla y alcanzar nuevas alturas en tus aventuras virtuales con nuestros teclados gamers!</p>
    
</section>

<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-3">
    <div class="col">
      <div class="card h-100">
        <img src="https://http2.mlstatic.com/D_NQ_NP_600237-MLU72568805002_112023-O.webp" class="card-img-top align-middle" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fizz Pro K616</h5>
          <p class="card-text">
            Conector USB-C 2.4<br>
            Con recepción inalámbrica<br>
            Con interfaz USB<br>
            Con Bluetooth<br>
            Alcance inalámbrico 10 m
            </p>
            <a href="https://redragon.es/products/best-seller/teclado-mecanico-60-fizz-pro/" class="specifications" target="_blank" and rel="noopener noreferrer"><strong>Especificaciones</strong></a>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://http2.mlstatic.com/D_NQ_NP_672949-MLA70178630019_062023-O.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">K619w Horus</h5>
          <p class="card-text">Switch Redragon Red LP<br>
            Conector USB-C<br>
            Recepción inalámbrica: No<br>
            Interfaz USB<br>
            Bluetooth: No
          </p>
          <a href="https://redragon.es/products/best-seller/teclado-low-profile-horus-tkl-fullsize-60/" class="specifications" target="_blank" and rel="noopener noreferrer"><strong>Especificaciones</strong></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://http2.mlstatic.com/D_NQ_NP_920486-MLA47091281176_082021-O.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dragonborn K630</h5>
          <p class="card-text">Switch Redragon Red<br>
            Conector USB-C<br>
            Recepción inalámbrica: No<br>
            Interfaz USB<br>
            Bluetooth: No</p>
            <a href="https://redragon.es/products/best-seller/teclado-mecanico-60-dragonborn-k630/" class="specifications" target="_blank" and rel="noopener noreferrer"><strong>Especificaciones</strong></a>
        </div>
      </div>
    </div>
   
  </div>
</div>