<div class="check_box border">

    <h2>Listado General de Alumnos</h2>

    <div class="form-check"> 
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="filterAge()" [checked]="optionAge">
        <label class="form-check-label" for="flexCheckDefault">
        <span [ngClass]="hideAge ? 'bold':'' ">Menores de edad</span>
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="filterMan();" [checked]="optionMan">
        <label class="form-check-label" for="flexCheckChecked">
        <span [ngClass]="hideWoman ? 'bold':'' ">Hombres</span>
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)=" filterWoman();" [checked]="optionWoman" >
        <label class="form-check-label" for="flexCheckChecked">
        <span [ngClass]="hideMan ? 'bold':'' ">Mujeres</span>
        </label>
        
    </div>

</div>

<ul>
    @if(hideAge){

    <li *ngFor="let usuario of usuarios" class="vineta">
       
        @if(usuario.age<18){
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{usuario.img}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{usuario.name | uppercase }}</h5>
                    <p class="card-text" [ngClass]="hideAge ? 'bold':'' ">Edad: {{usuario.age}}</p>
                    <p class="card-text">Sexo: {{usuario.sex}}</p>
                    <p class="card-text">Carrera: {{usuario.career}}</p>
                    <p class="card-text"><small class="text-muted">Last updated:  {{usuario.date | date }}</small></p>
                    </div>
                </div>
                </div>
            </div>
        }
    </li>
    }

    @else if (hideMan){

        <li *ngFor="let usuario of usuarios" class="vineta">
   
            @if(usuario.sex !== 'masculino'){
                <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{usuario.img}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{usuario.name | uppercase }}</h5>
                      <p class="card-text">Edad: {{usuario.age}}</p>
                      <p class="card-text" [ngClass]="hideMan ? 'bold':'' ">Sexo: {{usuario.sex}}</p>
                      <p class="card-text">Carrera: {{usuario.career}}</p>
                      <p class="card-text"><small class="text-muted">Last updated:  {{usuario.date | date }}</small></p>
                    </div>
                  </div>
                </div>
                </div>
            }
        </li>


    }
    @else if (hideWoman){

        <li *ngFor="let usuario of usuarios" class="vineta">
   
            @if(usuario.sex !== 'femenino'){
                <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{usuario.img}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{usuario.name | uppercase }}</h5>
                      <p class="card-text">Edad: {{usuario.age}}</p>
                      <p class="card-text" [ngClass]="hideWoman ? 'bold':'' ">Sexo: {{usuario.sex}}</p>
                      <p class="card-text">Carrera: {{usuario.career}}</p>
                      <p class="card-text"><small class="text-muted">Last updated:  {{usuario.date | date }}</small></p>
                    </div>
                  </div>
                </div>
                </div>
            }
        </li>

    }@else{

        <li *ngFor="let usuario of usuarios" class="vineta">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{usuario.img}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{usuario.name | uppercase }}</h5>
                      <p class="card-text">Edad: {{usuario.age}}</p>
                      <p class="card-text">Sexo: {{usuario.sex}}</p>
                      <p class="card-text">Carrera: {{usuario.career}}</p>
    
                      <p class="card-text"><small class="text-muted">Last updated:  {{usuario.date | date }}</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </li>
    }
<ul>
