<div class="container">
    <div class="row ">
       
      <div class="col d-flex justify-content-center">
        <a href="#"><img src="../../assets/logo.png" class="img-fluid " alt="..."></a>
      </div>

      <div class="col d-flex align-items-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Ryu Tech</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.coderhouse.com/ar/" target="_blank" and rel="noopener noreferrer">CoderHouse</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Menú
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Listado de Alumnos</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
      </div>

    </div>
</div>
