.navbar{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 15vh;
    max-height: 15vh;
    background-color: dodgerblue;
    
}

.body{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(139, 181, 245);
    min-height: 85vh;
    width: 100%;
    
}

.content_container{

    display: flex;
    flex-direction: column;
}