
<div class="list-group fs-5 text">
   
    <a href="https://tienda.mercadolibre.com.ar/redragon?item_id=MLA1149682844&category_id=MLA418448&official_store_id=1856&client=recoview-selleritems&recos_listing=true#origin=pdp&component=sellerData&typeSeller=official_store"
    class="list-group-item list-group-item-action" target="_blank" and rel="noopener noreferrer">Comprar</a>
    <a href="https://redragon.es/" class="list-group-item list-group-item-action" target="_blank" and rel="noopener noreferrer">Página oficial</a>
    <a href="https://redragon.es/comunidad-gamer/" class="list-group-item list-group-item-action" target="_blank" and rel="noopener noreferrer">Comunidad Gamer</a>
    
  </div>

